[**next-chronos**](../../../README.md)

***

[next-chronos](../../../README.md) / [lib/validation](../README.md) / ValidationResult

# Type Alias: ValidationResult\<T\>

> **ValidationResult**\<`T`\> = `object`

Defined in: [src/lib/validation.ts:10](https://github.com/Bababum95/next-chronos/blob/41860730c8dd12c16699269e1eee86402c8d1a9f/src/lib/validation.ts#L10)

## Type Parameters

### T

`T`

## Properties

### data?

> `optional` **data**: `T`

Defined in: [src/lib/validation.ts:12](https://github.com/Bababum95/next-chronos/blob/41860730c8dd12c16699269e1eee86402c8d1a9f/src/lib/validation.ts#L12)

***

### errors?

> `optional` **errors**: [`ValidationError`](ValidationError.md)[]

Defined in: [src/lib/validation.ts:13](https://github.com/Bababum95/next-chronos/blob/41860730c8dd12c16699269e1eee86402c8d1a9f/src/lib/validation.ts#L13)

***

### success

> **success**: `boolean`

Defined in: [src/lib/validation.ts:11](https://github.com/Bababum95/next-chronos/blob/41860730c8dd12c16699269e1eee86402c8d1a9f/src/lib/validation.ts#L11)
